.tables-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 30px;
    border-radius: 10px;
    border: 1px solid #525252;
    margin: 16px;

    li {
        padding: 10;

        &:hover {
            cursor: pointer;
        }

        &.selected {
            font-weight: bold;
        }
    }
}